<div class="flex flex-column align-items-center justify-content-center container img-stefacars">
  <img src="assets/stefacars.png" alt="StefaCars"/>


  <div class="p-fluid p-3">
    <span class="p-float-label mt-2">
        <input id="nickname" type="text" pInputText>
        <label for="nickname">Nickname</label>
    </span>
    <span class="p-float-label mt-5">
        <input id="senha" type="text" pInputText>
        <label for="senha">Senha</label>
    </span>
  </div>

  <button pButton pRipple type="button" label="LOGIN" class="p-button-rounded p-button-secondary p-button-lg pt-3 pb-3 pl-6 pr-6"></button>
  <br/>
  <br/>
  <br/>
  <button pButton pRipple type="button" label="CADASTRAR" class="p-button-rounded p-button-success p-button-lg pt-3 pb-3 pl-6 pr-6"></button>

</div>
